@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100vh;
}

.react-flow__handle {
  min-width: 0.5rem;
  min-height: 0.5rem;
  outline-style: solid;
  outline-color: transparent;
  outline-width: 0.5rem;
}
